/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- General Content
- Typography
- Header & Navigation
- Main Projects
- Bio
- Footer
- Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* General Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.main {
  padding-top: 2%;
}

.green {
  background-color: #7accc8;
  border-radius: 15px;
}

/* img */

img {
  max-width: 100%;
}

img:hover {
  opacity: 0.8;
}

.zoom-in {
  cursor: zoom-in;
}

/* urls */

a {
  text-decoration: none;
  color: #2d3c49;
}

a:hover {
  color: blue;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  font-family: 'Abel', sans-serif;
}

h2 {
  font-family: 'Quicksand', sans-serif;
}

#author-name {
  font-family: 'Quicksand', sans-serif;
  font-size: 3.5em;
  letter-spacing: 1.5px;
}

#page-title {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

/* Header & Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
  padding-top: 3%;
}

#udacity-logo {
  width: 100px;
  max-width: 120px;
  height: 100px;
}

#page-title, #author-name {
  text-align: right;
  margin-left: 5%;
  margin-bottom: 0;
  color: #2d3c49;
}

hr {
  margin: 0 0 0 0;
  border-width: 0;
  border-top: 5px solid #7d97ad;
}

/* Main Projects
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#featured-work-title {
  font-size: 3em;
  margin: 1% 0 0 0;
  padding: 1%;
  color: #3f7f7c;
}

.project-name {
  color: #2d3c49;
  font-size: 1.7em;
  margin-bottom: 0px;
}

.project {
  text-align: center;
}

.project-url {
  color: #7d97ad;
  font-size: 1.1em;
}

.url-literal {
  display: inline-block;
  white-space: nowrap;
  width: 20vw;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 3%;
}

.pj-img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border: 1px solid lightgray;
}

/* Bio
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#bio-div {
  margin-top: 2%;
  padding: 3% 2% 2% 2%;
}

#about-me {
  color: #3f7f7c;
  margin-bottom: 2%;
}

#about-me-content {
  color: white;
  margin-bottom: 1%;
  font-size: 1.5em;
}

#my-pic {
  border-radius: 15px;
  border: 5px solid white;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#copyright {
  margin-top: 2%;
  text-align: center;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (max-width: 1050px) {
  .url-literal {
    display: inline-block;
    white-space: nowrap;
    width: 20vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 549px) {
  .url-literal {
    display: inline-block;
    white-space: nowrap;
    width: 70vw;
    max-width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #ud-logo-div {
    display: inline-block;
    text-align: center;
  }
  #udacity-logo {
    max-width: 20vw;
    height: auto;
  }
  #author-name {
    font-size: 10vw;
  }
  #page-title {
    font-size: 5vw;
  }
  #featured-work-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 2%;
  }
  #about-me, #about-me-content {
    text-align: center;
  }
  #my-pic-div {
    padding-left: 25%;
  }
  #my-pic {
    max-width: 60%;
    max-height: 60%;
  }
  .project-name {
    font-size: 1.7em;
  }
}
